body {
  text-transform: uppercase;
  max-height: 100%;
  font-size: 15px;
  text-align: center;
  font-weight: bold;
  background-image:
  url(snow_fall.gif),
  url(GoW.png);
  background-size: auto 100%;
  background-position: center;
  color: white;
  background-repeat: no-repeat;
  font-family: 'PT Sans', sans-serif;
}

h1 {
  text-transform: capitalize;
  font-size: 100px;
}

section {
  padding: 5px;
  margin: 0px;
  display: flex;
  justify-content: center;
}

.split {
  padding: 10px;
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

section.nav {
  padding: 0px;
  justify-content: space-between;
}

section.nav .topbar {
  padding: 10px;
  margin: 0px 10px;
  text-decoration: none;
  color: white;
  transition: all 300ms ease;
}

.topbar:hover {
  background-color: darkgray;
  color: white;
  cursor: pointer;
}

section.nav .logo {
  padding: 10px;

}

section.nav .ordbutton {
  border: 2px solid darkgrey;
  padding: 10px 30px;
  text-decoration: none;
  color: inherit;
  filter: opacity(.6);
  transition: all 300ms ease;
}

  .ordbutton:hover {
  background-color: darkgray;
  color: white;
  cursor: pointer;
}

section .gtitle {
  padding: 10px;
  filter: opacity(.7);
}

section.middle {
  padding: 0px;
  display: flex;
  justify-content: space-between;
}

section.middle div {
  padding: 10px;
  align-self: center;
  margin: 30px;
  width: 400px;
  resize: both;
  overflow: auto;
}

section .button {
  border: 2px solid deepskyblue;
  padding: 10px 50px;
  text-decoration: none;
  background-color: deepskyblue;
  color: white;

}

section.images {
  padding: 10px;
  justify-content: space-around;
}

section.images img {
  border: 3px solid darkblue;
  padding: 2px;
}

footer {
  display: flex;
  padding: 10px;
  margin: 0px;
  justify-content: space-between;
}

section.bottom {
  padding: 10px;
  margin: 10px;
  display: flex;
}

section.bottom .bottombar {
  padding: 10px;
  margin: 10px;
  text-decoration: none;
  color: inherit;
}

section .bottomlogo {
  padding: 10px;
  margin: 10px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}

main.fade {
  opacity: 0;
  animation-name: fadeIn;
  animation-delay: 1s;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}

/*Mobile */
@media screen and (max-width: 600px) {
  .logo {
    display: none;
  }

  section.nav {
    margin: 0;
    padding: 0px;
  }

  .topbar {
    margin: 0;
    padding: 5px;
  }

  div.split {
    margin: 0;
    padding: 0;
  }

  h1 {
    font-size: 50px;
  }

  section.middle{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
    padding: 5px;
  }

  section.images {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/*Tablet */
@media screen and (min-width: 575px) and (max-width: 991px) {
  h1 {
    font-size: 75px;
  }

  section.images {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/*Desktop */
@media screen and (min-width: 992px) {

  }
}
