body {
  text-transform: uppercase;
  max-width: 100%;
  font-size: 10px;
  text-align: center;
  font-weight: bold;

}

h1 {
  text-transform: capitalize;
  font-size: 100px;
  margin: 20px;
}

section {
  border: 2px dashed darkred;
  padding: 10px;
  margin: 10px;
  display: flex;
  justify-content: center;
}

.split {
  border: 2px solid dimgray;
  padding: 10px;
  margin: 10px;
  display: flex;
  justify-content: space-between;

}

section.nav {
  border: 2px solid darkgreen;
  padding: 10px;
  justify-content: space-between;
}

section.nav .topbar {
  border: 2px solid blue;
  padding: 10px;
  margin: 0px 10px;
  text-decoration: none;
}

section.nav .logo {
  border: 2px solid yellow;
  padding: 10px;

}

section.nav .ordbutton {
  border: 2px solid deeppink;
  padding: 10px 30px;
  text-decoration: none;
}

section .gtitle {
  border: 2px solid pink;
  padding: 10px;
}

section.middle {
  border: 2px solid darkorange;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

section.middle div {
  border: 2px solid blueviolet;
  padding: 10px;
  align-self: center;
  margin: 30px;
  width: 300px;
  resize: both;
  overflow: auto;
}

section .button {
  border: 2px solid deepskyblue;
  padding: 10px 50px;
  text-decoration: none;
  background-color: deepskyblue;
  color: white;

}

section.images {
  border: 2px solid dimgrey;
  padding: 10px;
  justify-content: space-around;
}

section.images div {
  border: 2px solid crimson;
  padding: 10px;
}

footer {
  display: flex;
  border: 2px solid aqua;
  padding: 10px;
  margin: 10px;
  justify-content: space-between;
}

section.bottom {
  border: 2px solid aquamarine;
  padding: 10px;
  margin: 10px;
  display: flex;
}

section.bottom .bottombar {
  border: 2px solid blue;
  padding: 10px;
  margin: 10px;
  text-decoration: none;
}

section .bottomlogo {
  border: 2px solid firebrick;
  padding: 10px;
  margin: 10px;
}
